*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#conteiner{
    background-color: rgba(1, 0, 0, 0.600);
    border-radius: 15px;
    height: 700px;
    width: 65%;
    margin: auto;
    margin-top: 30px;
}

header{
    text-align: center;
    color: rgb(24, 200, 24);
}

header>img{
    width: 200px;
    margin-top: 60px;
    
}

header>h1{
    margin: 1px;
}

nav{
    background-color: rgb(24, 200, 24);;
    width: 80%;
    padding: 10px;
    margin: auto;
}

.bottoni{
    text-align: center;
}

main{
    width: 80%;
    margin: auto;
}

.monopattino{
    color: rgba(255, 255, 255, 0.900);
    font-size: 20px;
    margin-top: 30px;
    
}

.text{
    display: inline-block;
}

section>span{
    color: rgba(255, 255, 255, 0.800);
}

.carica1{
    background-color: orange;
    width: 40%;
    height: 20px;
    border-radius: 5px;
}

.carica2{
    background-color: green;
    width: 80%;
    height: 20px;
    border-radius: 5px;
}

.carica3{
    background-color: red;
    width: 20%;
    height: 20px;
    border-radius: 5px;
}
